# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/
dist/

# Node
node_modules/
npm-debug.log*

# Env
.env
backend/.env
frontend/.env

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Build
frontend/dist/
